/* ----------Global style---------- */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop-pc {
  display: none;
}

/* ----------Global style End---------- */
/* ------------------HEADER-------------------- */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header-list {
  display: none;
}

.header-list-contacts {
  display: none;
}

.web-header {
  display: flex;
  justify-content: space-between;
}

.header-div {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
  margin: 0;
  align-items: center;
  width: 100%;
  margin: 0 auto; 
}

.header-close-btn {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}

.logo {
  color: #4d5ae5;
}

.header-m-b {
  display: flex;
  margin-left: auto;
}

/* ------------------HEADER END-------------------- */
/* ------------------SECTION 1-------------------- */
.section-title {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/title-img-one.jpg);
  min-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 72px 52px;
  margin-bottom: 96px;
}

.main-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px auto;
}

.button-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:active,
.button-service:hover {
  background-color: #404bbf;
}


@media screen and (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/title-img-one-x2.jpg);
  }
}
/* ------------------SECTION 1 END-------------------- */
/* ------------------SECTION 2-------------------- */

.section-two-svg {
  display: none;
}

.info-title {
  font-weight: 700;
 font-size: 36px;
 line-height: 1.11111;
 letter-spacing: 0.02em;
 text-align: center;
 color: #2e2f42;
}

.info-par {
  font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}

.list-about-features-li:not(:last-child) {
  margin-bottom: 72px;
}

.list-about-features-li:last-child {
  margin-bottom: 96px;
}

/* ------------------SECTION 2 END-------------------- */
/* ------------------SECTION 3-------------------- */

.about-people {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team {
  font-weight: 700;
 font-size: 36px;
 line-height: 1.11111;
 letter-spacing: 0.02em;
 text-align: center;
 color: #2e2f42;
 margin-bottom: 72px;
}

.foto {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: 264px;
  margin: 0 auto;
}

.foto:not(:last-child) {
  margin-bottom: 72px;
}

.people {
  margin-top: 32px;
}

.info-title-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.info-par-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.section-three-svg-ul {
  display: flex;
  gap: 24px;
  margin-left: 16px;
}

.section-three-svg-li {
  margin-bottom: 32px;
}

.sec-three-a-li {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-class {
  fill: #f4f4fd;
}

.sec-three-a-li:active,
.sec-three-a-li:hover {
  background-color: #404bbf;
}

/* ------------------SECTION 3 END-------------------- */
/* ------------------SECTION 4-------------------- */

.marketing-list {
  padding: 96px 0;
  background: #fff;
}

.marketing-li {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 288px;
}

.par-section-hover {
  display: none;
}

.list-job-two {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 16px;
}

.zag-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.marketing-li:not(:last-child) {
  margin-bottom: 48px;
}

/* ------------------SECTION 4 END-------------------- */
/* ------------------FOOTER-------------------- */

.footer-div-one {
  padding: 0;
}

.page-footer {
  background-color: #2e2f42;
  padding: 96px 16px 96px 16px;
  display: flex;
}

.footer-div-two {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 17.5px;
  text-align: center;
}

.logo-second {
  color: #4d5ae5;
}

.main-logos {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-div-three {
  display: flex;
  flex-direction: column;
  margin: 0 auto 72px auto;
}

.footer-three-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-links-ul {
  flex-direction: row;
  display: flex;
  gap: 16px;
  margin: 0 auto;

}

.footer-links-li {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  
  
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-footer-img {
  fill: #f4f4fd;
  display: flex;
}

.footer-links-li:active,
.footer-links-li:hover {
  background-color: #31d0aa;
}

.footer-div-soc-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.email-input-footer {
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  border: 1px solid #fff;
  width: 100%;
  height: 40px;
  padding-left: 16px;
}

input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.footer-links-btn {
  display: flex;
  margin: 16px auto 0 auto;
  border-radius: 4px;
  padding: 8px 20px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links-btn:active,
.footer-links-btn:hover {
  background-color: #404bbf;
}

.btn-links-svg {
  fill: #ffffff;
  margin-left: 16px;
}

/* ------------------FOOTER 4 END-------------------- */
/* ------------------BACKDROP-MOBILE-------------------- */

.backdrop-mob {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mob {
  width: 288px;
  min-height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close-mob {
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
}

.modal-title-mob {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input-mob {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 34px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.modal-label-mob {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-div-mob {
  margin-bottom: 8px;
}

.form-div-two-mob {
  position: relative;
}

.modal-svg-mob {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.div-txt-area-mob {
  margin-bottom: 16px;
}

.modal-txt-area-mob {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #8e8f99;
  opacity: 0.5;
}

.checkbox-div-mob {
  margin-bottom: 24px;
}

.div-check-label-mob {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.accept-icon-mob {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.accept-link-mob {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.input-checkbox-mob:checked + .div-check-label-mob .accept-icon-mob {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-link-mob {
  color: #4d5ae5;
}

.modal-submit-btn-mob {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  margin: 0 auto;
  display: block;
}
/* ------------------BACKDROP-MOBILE END-------------------- */
/* ------------------MENU-MOBILE-------------------- */

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  pointer-events: none;
  z-index: 999;

  padding: 72px 24px 40px 16px;
}

.mob-menu-close-btn {
  display: flex;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

.close-svg-mob-menu {
  fill: #2e2f42;
}

.header-list-one {
  display: flex;
  flex-direction: column;
  margin-bottom: 168px;
}

.header-list-contacts-one {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.navigation-studio {
 font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
  
}

.header-studio-btn {
  color: #404bbf;
}

.mob-li:not(:last-child) {
  margin-bottom: 40px;
}

.tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-li-two:not(:last-child) {
  margin-bottom: 24px;
}

.mob-ul {
  display: flex;
  gap: 40px;
  
}

.mob-li-three {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
}

.mob-menu-svg {
  fill: #F4F4FD;
}

.mob-li-three:hover,
.mob-li-three:active {
  background-color: #404bbf;
}

/* ------------------MENU-MOBILE END-------------------- */

/* --------------------TABLET EDITION ------------------ */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  
/* -------------------- HEADER ------------------ */

  .header-studio-btn {
    position: relative;
  }
  
  .header-studio-btn::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -25.5px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

  .header-div {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
  }
  
  .header-nav {
    display: flex;
  }

  .address-contacts {
    display: flex;
  }

  .header-close-btn {
    display: none;
  }

  .header-list {
    display: flex;
    margin-left: 120px;
    gap: 40px;
    margin-right: 121px;
  }

  .header-list-contacts {
    display: flex;
    flex-direction: column;
    margin-left: 0 auto;
  }

  .navigation-studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-studio:hover {
    color: #404bbf;
  }

  .header-studio-btn {
    color: #404bbf;
  }

  .email {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16667;
   letter-spacing: 0.04em;
   color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .email:hover {
    color: #404bbf;
  }

/* -------------------- HEADER END ------------------ */
/* -------------------- SECTION 1 ------------------ */

.section-title {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/title-tablet-x1.jpg);
  min-width: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 112px 136px;
  margin-bottom: 96px;

}

@media screen and (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/title-tablet-x2.jpg);
  }
}

.main-title {
  min-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 36px;

}

/* -------------------- SECTION 1 END ------------------ */
/* -------------------- SECTION 2 ------------------ */

.list-about-features {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.list-about-features-li {
  max-width: 356px;
  min-height: 20px;
}

.list-about-features-li:not(:last-child) {
    margin-bottom: 0;
}

.info-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;  
  margin-bottom: 8px;
}

.info-par {
  font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}

/* -------------------- SECTION 2 END ------------------ */
/* -------------------- SECTION 3 ------------------ */

.about-people-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
  justify-content: center;
}

.foto:not(:last-child) {
  margin: 0;
}

.foto {
  margin: 0;
}

/* -------------------- SECTION 3 END ------------------ */
/* -------------------- SECTION 4 ------------------ */

.marketing-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.marketing-li:not(:last-child) {
    margin-bottom: 0;
}

/* -------------------- SECTION 4 END ------------------ */
/* -------------------- FOOTER ------------------ */
  
.footer-div-one {
  display: flex;
  flex-wrap: wrap;
}

.footer-div-two {
  max-width: 264px;
  margin-right: 24px;
  margin-left: 108px;
  margin-bottom: 72px;
}

.footer-logo {
  text-align: start;
}

.footer-div-three {
  margin-left: 0;
}

.footer-three-text {
  text-align: start;
}

.footer-div-soc-p {
  text-align: start;
}

.footer-div-soc {
  margin-left: 108px;
}

.footer-form-soc {
  display: flex;
}

.footer-links-btn {
  margin: 0;
}

.soc-label {
  margin-right: 24px;
}

.email-input-footer {
  min-width: 264px;
}

}
/* -------------------- FOOTER  END ------------------ */

/* ------------------BACKDROP TABLET-------------------- */ 
.backdrop-tablet {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-tablet {
  width: 408px;
  height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
   0 1px 3px 0 rgba(0, 0, 0, 0.12),
   0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close-t {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal-title-t {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;  
  margin-bottom: 16px;
}

.modal-label-t{
   margin-bottom: 4px;
   display: block;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16667;
   letter-spacing: 0.04em;
   color: #8e8f99;
}

.modal-input-t {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 34px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.form-div-t {
  margin-bottom: 8px;
}

.form-div-two-t {
  position: relative;
}

.modal-svg-t {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.div-txt-area-t {
  margin-bottom: 16px;
}

.modal-txt-area-t {
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  opacity: 0.5;
}

.checkbox-div-t {
  margin-bottom: 24px;
}

.div-check-label-t {
 font-weight: 400;
 font-size: 12px;
 line-height: 1.16667;
 letter-spacing: 0.04em;
 color: #8e8f99;
}

.modal-link-t {
 line-height: 1.33333;
 text-decoration: underline;
 text-decoration-skip-ink: none;
 color: #4d5ae5;
}

.accept-icon-t {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.input-checkbox-t:checked + .div-check-label-t .accept-icon-t {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-submit-btn-t {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 text-align: center;
 color: #fff;
 box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 background: #4d5ae5;
 border: none;
 border-radius: 4px;
 padding: 16px 32px;
 width: 169px;
 height: 56px;
 display: block;
 margin: 0 auto;
 }
 /* ------------------BACKDROP TABLET END-------------------- */
/* ------------------TABLET EDITION END-------------------- */
/* ------------------PC EDITION -------------------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
/* ------------------HEADER-------------------- */

  .web-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-div {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-list {
   margin-left: 76px;
   margin-right: 322px; 
  }

  .header-studio-btn::after {
   content: "";
   width: 100%;
   position: absolute;
   left: 0;
   bottom: -28px;
   height: 4px;
   background-color: #404bbf;
   border-radius: 2px;
}

  .header-list {
    display: flex;
  }

  .header-list-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }

/* ------------------HEADER END-------------------- */
/* ------------------SECTION 1-------------------- */


.section-title {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/title-pc-x1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 188px 0;
}

@media screen and (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/title-pc-x2.jpg);
  }
}


.main-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button-service {
  cursor: pointer;
}
/* ------------------SECTION 1 END-------------------- */
/* ------------------SECTION 2-------------------- */

.section-two-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.list-about-features {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 120px 0 0 0;
}

.list-about-features-li {
  width: calc((100% - 72px) / 4);

}

.section-two-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.section-two-svg-div {
  width: 64px;
  height: 64px;
}

.info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: start;  
}

.info-par {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------SECTION 2 END-------------------- */

/* ------------------SECTION 3-------------------- */

.about-people {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.foto {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.about-people-ul {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}

.people {
  padding: 32px 0;
}

.info-title-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  text-align: center;
  margin-bottom: 8px;
}

.info-par-two {
  text-align: center;
  margin-bottom: 8px;
}

.section-three-svg-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-three-svg-li {
  width: 40px;
  height: 40px;
}

.sec-three-a-li {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-three-a-li:hover,
.sec-three-a-li:focus {
  background-color: #404bbf;
}

.svg-class {
  fill: #f4f4fd;
  width: 40px;
  height: 40px;
}

/* ------------------SECTION 3 END-------------------- */

/* ------------------SECTION 4-------------------- */

.marketing-list {
  padding: 120px 0 120px 0;
}

.marketing-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}

.marketing-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.marketing-li:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.list-job {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.zag {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.test {
  position: relative;
  overflow: hidden;
}

.par-section-hover {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}

.marketing-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   width: calc((100% - 48px) / 3);
}

.marketing-li:hover {
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.16);
  background: #fff;
}

.test:hover .par-section-hover {
  transform: translateY(0%);
}

/* ------------------SECTION 4 END-------------------- */
/* -------------------- FOOTER ------------------ */

.page-footer {
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer-div-two {
  margin: 0;
  margin-right: 120px;
}

.footer-div-three {
  margin-right: 80px;
}

.footer-div-soc {
  margin: 0;
}

/* -------------------- FOOTER END ------------------ */
/* -------------------- PC BACKDROP ------------------ */

.backdrop-pc {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-pc {
  width: 408px;
  height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
   0 1px 3px 0 rgba(0, 0, 0, 0.12),
   0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close-pc {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal-title-pc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;  
  margin-bottom: 16px;
}

.modal-label-pc{
   margin-bottom: 4px;
   display: block;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16667;
   letter-spacing: 0.04em;
   color: #8e8f99;
}

.modal-input-pc {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 34px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.form-div-pc {
  margin-bottom: 8px;
}

.form-div-two-pc {
  position: relative;
}

.modal-svg-pc {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.div-txt-area-pc {
  margin-bottom: 16px;
}

.modal-txt-area-pc {
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-div-pc {
  margin-bottom: 24px;
}

.div-check-label-pc {
 font-weight: 400;
 font-size: 12px;
 line-height: 1.16667;
 letter-spacing: 0.04em;
 color: #8e8f99;
}

.modal-link-pc {
 line-height: 1.33333;
 text-decoration: underline;
 text-decoration-skip-ink: none;
 color: #4d5ae5;
}

.accept-icon-pc {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.input-checkbox-pc:checked + .div-check-label-pc .accept-icon-pc {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-submit-btn-pc {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 text-align: center;
 color: #fff;
 box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 background: #4d5ae5;
 border: none;
 border-radius: 4px;
 padding: 16px 32px;
 width: 169px;
 height: 56px;
 display: block;
 margin: 0 auto;
 cursor: pointer;
}


/* -------------------- PC BACKDROP END ------------------ */

}

/* ------------------PC EDITION END-------------------- */


/* -------------------------IS-OPEN--------------------------- */
.is-open {
 opacity: 1;
 pointer-events: auto;
}
/* -------------------------IS-OPEN--------------------------- */